<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">     
	<title>Inspiration</title> 
<<<<<<< HEAD
	<link rel="stylesheet" href="/stylesheets/style.css">
=======
>>>>>>> 591537b204cd6abd7b56fba01c3f3d1fbcf23621
	<a href="/about">About</a>
	<a href="/">Home</a>
	<a href="/inspiration">Inspiration</a>
</head>
<body>
	{{{body}}}
</body>
</html>