<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">     
	<title>Inspiration</title> 
	<a href="/about">About</a>
	<a href="/">Home</a>
	<a href="/inspiration">Inspiration</a>
</head>
<body>
	{{{body}}}
</body>
</html>