body {
	font-family: arial;
	padding: 20px 40px;
	background-color: #333333;
}
ul {
	
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 48px;
}
li{
	display: inline;
	list-style-type: none;
}

a{
	padding-right: 10px;
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
#face{
	width: 100px;
}
#face:hover{
	width: 200px;

}
#button
{
	position: absolute;
    left: 40px;
    width: 90px;
    height: 90px;
    margin: 5px;
}